html {
	background-color: rgb(196, 248, 255);
}
input[type=number]{
	height: 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    width: 3rem;
    text-align: center;
}

.menu-object{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 110px;
	font-size: 16px;
	margin-top: 10px;
}

.index-object{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 110px;
	font-size: 16px;
	margin-top: 10px;
}

button.index-object{
	border-radius: 12px;
}

button.index-object:active{
	font-size: 18px;
	width: 275px;
	height: 90px;
	background-color: rgb(42, 49, 151);
}

button.index-object:hover:not(:active){
	font-size: 22px;
	width: 340px;
	height: 130px;
	background-color: rgb(179, 108, 42);
}

p{
	text-align: center;
}

button.menu-object{
	border-radius: 12px;
}

button.menu-object:active{
	font-size: 18px;
	width: 275px;
	height: 90px;
	background-color: rgb(42, 49, 151);
}

button.menu-object:hover:not(:active){
	font-size: 22px;
	width: 340px;
	height: 130px;
	background-color: rgb(179, 108, 42);
}

button {
	background-color: rgb(146, 210, 230);
}

svg{
	margin-top: 15px;
}

svg > text{
	font-weight: bold;
}

svg.menu-object:hover:not(:active){
	animation: anim1 2.2s infinite;
	
}

svg.menu-object:hover:active{
	animation: anim2 5s forwards;
}

@keyframes anim1 {
	from{
		transform: rotate(0deg);

	}
    	
  	to{
		transform: rotate(360deg);
	}
   		
}

@keyframes anim2 {
	
	from{
		opacity: 1;
		scale: 1;
	}
    	
  	to{
		opacity: 0;
		scale: 0.2;
	}
    
}
